body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

div.userForm {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* border: 1px solid blue; */
    margin: 50px 100px 0 100px;
    
}

form {
    width: 50%;
    border: 1px solid;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

form input {
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
/* 
form label {
    padding: 10px;
} */

input.save {
    background-color: dodgerblue;
    cursor: pointer;
}

.userForm.save::hover {
    background-color: rgb(5, 21, 37);
    color: aliceblue;
}

/* display part design */

div.add_user {
    padding: 15px;
    margin-top: 15px;
}

.add_user button {
    background-color: dodgerblue;
    padding: 15px;
    border-radius: 5px;
}

div.add_user a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

/* display table design */

div.table {
    border-collapse: collapse;
}

.update_btn {
    background-color: dodgerblue;
    padding:20px;
}